<div id="formulario-cad-orgao" class="formulario">
    <form>
        <div class="divbtnforms">
            <button class="btn1">botão 1</button>
            <button class="btn2">botão 2</button>
        </div>
        <h2>Cadastro de Órgão</h2>
        <section>
            <div class="elemento">
                <div>
                    <label>Razão Social da Prefeitura<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o nome da prefeitura' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Município<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Cidade' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>CNPJ da Prefeitura<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' id="cnpj-prefeitura"  placeholder='__.____.____ / ______' autoComplete='off'/>
                </div>
            </div>
        </section>
        <section>
            <div class="elemento">
                <div>
                    <label>Razão Social da Secretaria de educação<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o nome da Secretaria de Educação' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>CNPJ da Secretaria de educação<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' id="cnpj-SecEd"  placeholder='__.____.____ / ______' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Endereço<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Rua, Alameda...' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>CEP<br></br></label>
                    <input class="inputgeral" style="width: 100%;" id="cep-SecEd" type='text' placeholder=' * *   * * * - * * * ' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Município<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Cidade' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Estado<br></br></label>
                    <select class="selectgeral" style="width: 100%;" autoComplete='off'>
                        <option value=""></option>
                        <option value="PE">PE</option>
                        <option value="RO">RO</option>
                        <option value="AC">AC</option>
                        <option value="AM">AM</option>
                        <option value="RR">RR</option>
                        <option value="PA">PA</option>
                        <option value="AP">AP</option>
                        <option value="TO">TO</option>
                        <option value="MA">MA</option>
                        <option value="PI">PI</option>
                        <option value="CE">CE</option>
                        <option value="RN">RN</option>
                        <option value="PB">PB</option>
                        <option value="AL">AL</option>
                        <option value="SE">SE</option>
                        <option value="BA">BA</option>
                        <option value="MG">MG</option>
                        <option value="ES">ES</option>
                        <option value="RJ">RJ</option>
                        <option value="SP">SP</option>
                        <option value="PR">PR</option>
                        <option value="SC">SC</option>
                        <option value="RS">RS</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="GO">GO</option>
                        <option value="DF">DF</option>
                    </select>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Telefone da Secretaria de Educação<br></br></label>
                    <input class="inputgeral" style="width: 100%;" id="telefone-SecEd" type='text' placeholder='( * * ) * * * * * - * * * *' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Email da Secretaria de Educação<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o email da Secretaria da educação' autoComplete='off'/>
                </div>
            </div>
        </section>
        <section>
            <div class="elemento">
                <div>
                    <label>Razão Social da Escola<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o nome da escola' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Endereço<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Rua, Alameda...' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>CEP<br></br></label>
                    <input class="inputgeral" style="width: 100%;" id="cep-esc-SecEd" type='text' placeholder=' * *   * * * - * * * ' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Município<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Cidade' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Estado<br></br></label>
                    <select class="selectgeral" style="width: 100%;" autoComplete='off'>
                        <option value=""></option>
                        <option value="PE">PE</option>
                        <option value="RO">RO</option>
                        <option value="AC">AC</option>
                        <option value="AM">AM</option>
                        <option value="RR">RR</option>
                        <option value="PA">PA</option>
                        <option value="AP">AP</option>
                        <option value="TO">TO</option>
                        <option value="MA">MA</option>
                        <option value="PI">PI</option>
                        <option value="CE">CE</option>
                        <option value="RN">RN</option>
                        <option value="PB">PB</option>
                        <option value="AL">AL</option>
                        <option value="SE">SE</option>
                        <option value="BA">BA</option>
                        <option value="MG">MG</option>
                        <option value="ES">ES</option>
                        <option value="RJ">RJ</option>
                        <option value="SP">SP</option>
                        <option value="PR">PR</option>
                        <option value="SC">SC</option>
                        <option value="RS">RS</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="GO">GO</option>
                        <option value="DF">DF</option>
                    </select>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Telefone da Escola<br></br></label>
                    <input class="inputgeral" style="width: 100%;" id="telefone-esc-SecEd" type='text' placeholder='( * * ) * * * * * - * * * *' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Email da escola<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o email da escola' autoComplete='off'/>
                </div>
            </div>
        </section>
        <div class="di">
            <button class="submitbtn" type='submit'>Salvar</button> <button class="cancelbtn" id="fecharOrgao">Cancelar</button>
        </div>
    </form>
</div>
